*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;

}
body{
background-color: rgb(14, 13, 13);
}
header{
    background-color: rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 17, 255, 0.4); 

}
#menu-togle{display: none;}
.menu-togle-label{
    color: wheat;
    display: none;
    cursor: pointer;
    font-size: 30px;
}
header img{
    width: 4%;
    height: auto;
    background-color: rgba(240, 248, 255, 0.454);
    border-radius: 100px;
}
.name{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(12,0,255,1) 100%);
    background-clip: text;
    color: transparent;
    margin-left: 2%;
    display: flex;
    font-family: "Crimson Text", serif;
    font-size: 2.5rem;
    letter-spacing: -2.5px;
}
.social{
    display: flex;
    justify-content: end;
    gap: 10%;
    margin-right: 5%;
    font-family: "Space Grotesk", sans-serif; 
   
}
.social a{
    color: white;
    padding: 5% ;
    transition: all 0.7s;
    
}
.social a:hover{
    border-bottom:solid #0c00ff;
    border-radius: 0.5rem;
}
@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: flex-start;
        width: 100%;
    }
    .menu-togle-label{
        color: wheat;

        cursor: pointer;
        font-size: 30px;}
    header img{
        width: 4%;
        height: auto;
        margin-left: auto;
        display: none;
    }
    .name {
        font-size: 2.5rem; 
        margin-bottom: 2%; 
    }

    .social {
        flex-direction: column; 
        position: absolute;
        height: calc(50px + 2rem);
        right: 0;
        width: 100%;
        height: calc(100% - 50px - 2rem);
        text-align: center;
        z-index: 10;
        gap: 13%; 
        margin-left: 2%;
        animation: menu 0.4s ease-out forwards;
        display: none;
    }
    .social a {
        padding: 3% 8%;
    }
    @keyframes menu {
        from{transform: translateY(100%);}
        to{transform: translateY(0%);}
    }
    #menu-togle:checked + .menu-togle-label + .social{display: flex;}
    .menu-togle-label{display: block;}
}
.presentacion{
    font-family:"Space Grotesk", sans-serif; 
    margin: 15% 2%;
    color: #00aeef;
    letter-spacing: 6px;
    margin-bottom: 3%;
}
.biografia{
    font-family:"Space Grotesk", sans-serif; 
    margin: 0 2%;
    color: white;
    max-width: 60%;
    font-size: 30px;
    text-align: justify;
}

@media (max-width: 768px) {
    .biografia{
        max-width: 100%;
        font-size: 15px;
        text-align: justify;
    }
    .presentacion{
        margin-top: 15%;
    }

}
main{
    display: flex;
    margin: 10% 4%;
    gap: 3rem;
}
.contain{
    color: white;
    display: flex;
    text-decoration: white;
}
img{
    width: 40%;
    height: auto;
    margin-right: 3%;
    border-radius: 20px;
}
 .contain h4{
    writing-mode: vertical-rl; 
    text-orientation: upright; 
    font-size: 2rem; 
    margin-right: 2%;
 }
 .contain p{
    width: 100%;
    font-family:"Space Grotesk", sans-serif; 
    font-size: 2rem;
    text-align: justify;
 }
 hr{
    border: none; 
    height: 1px;
    background-color: #3498db; 
    margin: 8% 0; 
}
@media (max-width: 768px) {
    .contain {
        display: block; 
    }

    .contain img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem; 
    }

    .contain h4 {
        text-align: center;
        margin-bottom: 1rem; 
        writing-mode: horizontal-tb;
    }

    .contain p {
        font-size: 1rem; 
        text-align: justify; 
    }
}
.programacion{
text-align: center;
}
.conocimiento{
    margin-bottom: 2rem;
    color: aliceblue;
    margin-right: 2rem;
}
.htmll{
width: 10%;
height: auto;
}
.cssl{
    width: 8.5%;
    height: auto;
}
.etiec{
    color: antiquewhite;
    font-family:"Space Grotesk", sans-serif; ;
    font-size: 30px;
    display: flex;
    text-align: center;
    margin-top: 3%;
}                   
@media (max-width: 768px) {
    .etiec{
        font-size: 1rem;
    }   
}
footer {
    background-color: #000; 
    padding: 20px;
    text-align: center;
}

footer p{
    text-align: center;
    color: whitesmoke;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.social-icons {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.social-icons a {
    color: white; 
    font-size: 2rem; 
    transition: color 0.3s; 
}

.social-icons a:hover {
    color: #3498db; 
}


.instagram:hover {
    color: #e4405f; 
}

.facebook:hover {
    color: #1877f2; 
}

.github:hover {
    color: #333;
}